<ns-action-bar
        [title]="isLogin ? 'LOGIN' : 'REGISTER'"
        [showBackButton]="false"
        [hasMenu]="false"
></ns-action-bar>
<FlexboxLayout flexDirection="column" justifyContent="center">
<StackLayout class="form" [formGroup]="form">
    <Label class="header" text="PLANTLET"></Label>
    <StackLayout class="input-field">
        <Label class="label" text="Username" [ngClass]="{invalid: !usernameControlIsValid}"></Label>
        <TextField
                class="input"
                returnKeyType="next"
                [autocorrect]="false"
                autocapitalizationType="none"
                formControlName="username"
                #usernameEl
        ></TextField>
        <Label
                *ngIf="!usernameControlIsValid"
                text="Please enter a valid email."
                class="invalid"
        ></Label>
    </StackLayout>
    <StackLayout class="input-field" *ngIf="!isLogin">
        <Label class="label" text="E-Mail" [ngClass]="{invalid: !emailControlIsValid}"></Label>
        <TextField
                class="input"
                returnKeyType="next"
                keyboardType="email"
                [autocorrect]="false"
                autocapitalizationType="none"
                formControlName="email"
                #emailEl
        ></TextField>
        <Label
                *ngIf="!emailControlIsValid"
                text="Please enter a valid email."
                class="invalid"
        ></Label>
    </StackLayout>
    <StackLayout class="input-field">
        <Label class="label" text="Password" [ngClass]="{invalid: !passwordControlIsValid}"></Label>
        <TextField
                class="input"
                returnKeyType="done"
                [autocorrect]="false"
                autocapitalizationType="none"
                [secure]="true"
                hint="Min 6 characters"
                formControlName="password"
                (returnPress)="onDone()"
                #passwordEl
        ></TextField>
        <Label
                *ngIf="!passwordControlIsValid"
                text="Must be 6 character or long."
                class="invalid"
        ></Label>
    </StackLayout>
    <Button
            class="btn btn-flat" [text]="isLogin ? 'Signup instead' : 'Login instead'"
            (tap)="onSwitch()"
    ></Button>
    <Button
            width="80%"
            [text]="isLogin ? 'Login' : 'Register'"
            class="btn btn-primary btn-rounded-lg"
            (tap)="onSubmit()"
            *ngIf="!isLoading"
    ></Button>
    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</StackLayout>
</FlexboxLayout>



